@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    width: 50%; 
    height: 23rem; 
    background-color: purple;
    transition: transform 0.1s, box-shadow 0.1s, filter 0.1s;
    border-radius: 0.500rem;
  }